#gamesetting li { 
    position: relative;
    font-weight: bold; font-size: 1em;
    padding-left: 0.75em; padding-right: 0.75em;
    padding-top: 0.2em; padding-bottom: 0.2em;
    display: inline;
    cursor: default;
    border: 1px solid rgba(0,0,0,0.3);
}

#gamesetting li:hover {
    background: rgba(0,0,0,0.3);
    position: relative;
}

input[type="text"] {
    width: 30px;
}

canvas {
    display: block;
    border: 1px solid #000;
}